<h2><%= @item.name %></h2>

<%= tag.div id: "item-#{@item.id}" do %>
<%= render partial: "card", locals: {item: @item, img_width: 400} %>

<% if @item.inventory > 0 && (current_user.nil? || current_user.default?) %>
<%= button_to 'Add to Cart', cart_add_item_path(@item) %>
<% elsif @item.inventory == 0 %>
Merchant is out of stock, sorry
<% end %>

<p>Average time to fulfill: <%= fulfillment_time(@item.avg_fulfillment_time) %>
<% end %>

<div class="reviews">
  <h1>Reviews</h1>
  <% @reviews.each_with_index do |r, idx| %>
    <h5>Review <%= idx + 1 %>: <%= link_to "#{r.title}", item_review_path(@item, r), method: :get %> - <%=  pluralize(r.rating, "star") %></h5>
    <p>by: <%= r.user.name %></p>
    <p id="review-description"> "<%= r.description %>" </p>
  <% end %>
</div>

<% if @user && !@hidden_reviews.empty? %>
  <div class="hidden-reviews"><h1> Hidden Reviews </h1>
    <% @hidden_reviews.each_with_index do |r, idx| %>
      <h5>Review <%= idx + 1 %>: <%= link_to "#{r.title}", item_review_path(@item, r), method: :get %> - <%=  pluralize(r.rating, "star") %></h5>
      <p>by: <%= r.user.name %></p>
      <p> "<%= r.description %>" </p>
      <% if !r.visibility %>
        <%= button_to "Enable", enable_item_review_path(r.item, r), method: :patch %>
      <% elsif r.visibility %>
        <%= button_to "Disable", disable_item_review_path(r.item, r), method: :patch %>
      <% end %>
    <% end %>
  </div>
<% end %>
