<% @reviews.each do |r| %>
  <h5><%= link_to "#{r.title}", item_review_path(r.item, r), method: :get %> - <%=  pluralize(r.rating, "star") %></h5>
  <p><%= r.rating %></p>
  <p><%= r.description %></p>
  <p><%= r.created_at %></p>
  <% end %>
