<h5><%= link_to "#{@review.title}", item_review_path(@item, @review), method: :get %> - <%=  pluralize(@review.rating, "star") %></h5>
<p>by: <%= @review.user.name %></p>
<p id="review-description"> "<%= @review.description %>" </p>
<% if @current_user == @review.user %>
  <%= button_to "Edit Review", edit_item_review_path(@item, @review), method: :get %>
  <%= link_to "Delete Review", item_review_path(@item, @review), method: :delete %>
  <% if !@review.visibility %>
    <%= button_to "Enable", enable_item_review_path(@item, @review), method: :patch %>
    <% elsif @review.visibility %>
    <%= button_to "Disable", disable_item_review_path(@item, @review), method: :patch %>
  <% end %>
<% end %>
